<!DOCTYPE html>
<html>
  <head>
    <title>Pie Chart</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
      .chart-container {
        width: 300px;
        margin: 0 auto;
      }
      canvas {
        width: 300px;
        height: 300px;
      }
    </style>
  </head>
  <body>

  <div>
    <label for="year-select">Select Year:</label>
    <select id="year-select">
      <option value="2019">2019</option>
      <option value="2020">2020</option>
      <option value="2021">2021</option>
    </select>
  </div>

    <div class="chart-container">
      <canvas id="varstaChart"></canvas>
    </div>
    <div class="chart-container">
      <canvas id="genChart"></canvas>
    </div>
    <div class="chart-container">
      <canvas id="regTratChart"></canvas>
    </div>
    <div class="chart-container">
      <canvas id="referireChart"></canvas>
    </div>
    <div class="chart-container">
      <canvas id="tipLocuintaChart"></canvas>
    </div>
    <div class="chart-container">
      <canvas id="tipConsumChart"></canvas>
    </div>
    <div class="chart-container">
      <canvas id="sitLocativaChart"></canvas>
    </div>
    <div class="chart-container">
      <canvas id="educatieChart"></canvas>
    </div>
    <div class="chart-container">
      <canvas id="ocupatieChart"></canvas>
    </div>

    <script src="../public/js/pieChart.js"></script>
  </body>
</html>
